<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login and Registration</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'login/index_style.css '%}">
    </head>
    <body>
        <div class="wrapper">
            <h1>Let's start!</h1>
            <h3>Please <a href="/login">Login</a> or <a href="/register">Register</a></h3>    
            <div>
                {% load static %}
                <a href="/show_login"><img id="login" src="{% static 'login/login.png' %}" alt="log-in icon"></a>
                <a href="/show_register"><img id="register" src="{% static 'login/register.png' %}" alt="register icon"></a>
            </div>
        </div>       
    </body>
</html>