<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login/register_style.css '%}">
    <title>Register</title>
</head>
<body>
    
    <div class="wrapper">
        <h1>Registration</h1>
        {% if messages %}
            {% for msg in messages %}
                <p class="error">{{ msg }}</p>
            {% endfor %}
        {% endif %}        
        <form action="/register" method="post">
            {% csrf_token %}
            First Name: <input type="text" name="first_name">
            <br>
            Last Name: <input type="text" name="last_name">
            <br>
            Email: <input type="text" name="email">
            <br>
            Password: <input type="password" name="password">
            <br>
            Confirm Password: <input type="password" name="confirm">
            <br>
            <input type="submit" value="Register">
        </form>        
        <a href="/show_login">Already have account? Click here to Login!</a>
        <br>
        <a href="/">Home</a>
    </div>
</body>
</html>